#main .image img {
  height:auto;
  max-width:100%;
}

#main .image {
  margin-bottom:8px;
}

@media only screen and (min-width:480px) {
  #main {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:1fr;
    grid-gap: 8px;
  }
  
  #main .image {
    margin:0;
  }
}

@media only screen and (min-width:980px) {
  #main {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:1fr;
    grid-gap: 8px;
  }
}