:root {
  --margin-full:16px;
  --margin-half:8px;
}

* {
  box-sizing:border-box;
}

body {
  font-size:16px;
  font-family:verdana, sans-serif;
  margin:0 auto;
  padding:0 var(--margin-half);
  background-color:#ffe;
}

#header, #footer, #main, #side {
  /*border:1px solid #ccc;*/
  padding:8px;
  border-radius:4px;
  background-color:#fff;
  box-shadow:2px 2px 8px #bbb;
}

#header {
  margin-top:var(--margin-half);
  margin-bottom:var(--margin-full);
}

#main {
  margin-bottom:var(--margin-full);
}

#side {
  margin-bottom:var(--margin-full);
}

#footer {
  margin-bottom:var(--margin-half);
}

@media only screen and (max-width:979px) {
  
}

@media only screen and (min-width:980px) {
  body{
    max-width:960px;
  }
  
  #container {
    display:grid;
    grid-template-columns: 1fr 240px;
  }
  
  #header {
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 2; 
  }
  
  #side {
    margin-left:8px;
  }
  
  #footer {
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 3; 
    grid-row-end: 4; 
  }
}