@media only screen and (min-width:980px) {
  #footer {
    display:grid;
    grid-template-columns: auto auto;
  }
  
  #footer1 {
    justify-self:start;
  }
  
  #footer2 {
    justify-self:end;
  }
}